.default, .disable {
  width: 70px;
  height: 30px;
  background-color: blue;
}

.hover {
  width: 70px;
  height: 30px;
  background-color: red;
}
.hover:hover {
  background-color: rgb(243, 171, 171);
  transition: 0.4s;
}

.pressed {
  width: 70px;
  height: 30px;
  background-color: rgb(151, 96, 96);
}
.pressed:focus {
  background-color: red;
}

.disable {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: rgb(225, 186, 186);
}

.input-field {
  background-color: white;
  width: 300px;
  height: 40px;
  color: black;
}
.input-field::-moz-placeholder {
  color: red;
  opacity: 0.6;
}
.input-field::placeholder {
  color: red;
  opacity: 0.6;
}
.input-field:focus::-moz-placeholder {
  color: black;
}
.input-field:focus::placeholder {
  color: black;
}

.status-container {
  width: 40%;
  position: relative;
}

.status-input {
  width: 100%;
}
.status-input::-moz-placeholder {
  color: blue;
}
.status-input::placeholder {
  color: blue;
}
.status-input:focus {
  color: red;
}
.status-input:hover {
  width: 70%;
}
.status-input:hover + .img {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 30%;
  top: 5px;
}

.img {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0%;
  top: 5px;
}

.snack {
  width: 100%;
  display: flex;
  justify-content: center;
}

.snack-bar-container {
  width: 20%;
  height: 50px;
  background-color: rgb(251, 247, 247);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}

.snack-div-1 {
  width: 4%;
  height: 100%;
  background-color: rgb(91, 206, 160);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.snack-div-2 {
  width: 80%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.snack-div-3 {
  width: 16%;
  height: 100%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-div-snak {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-snak {
  width: 20px;
  height: 20px;
}

.snack-text {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-1 {
  font-size: 15px;
  font-weight: bold;
  color: green;
}

.text-2 {
  font-size: 10px;
  font-weight: normal;
  color: black;
}

.snack-bar-container-error {
  width: 20%;
  height: 50px;
  background-color: rgb(251, 247, 247);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}

.snack-div-1-error {
  width: 4%;
  height: 100%;
  background-color: rgb(234, 12, 12);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.snack-div-2-error {
  width: 80%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.snack-div-3-error {
  width: 16%;
  height: 100%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-1-error {
  font-size: 15px;
  font-weight: bold;
  color: rgb(252, 35, 35);
}

.snack-bar-container-error {
  width: 20%;
  height: 50px;
  background-color: rgb(251, 247, 247);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}

.snack-div-1-warning {
  width: 4%;
  height: 100%;
  background-color: rgb(248, 241, 56);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-1-warning {
  font-size: 15px;
  font-weight: bold;
  color: rgb(248, 241, 56);
}

.snack-div-1-information {
  width: 4%;
  height: 100%;
  background-color: rgb(30, 69, 244);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-1-information {
  font-size: 15px;
  font-weight: bold;
  color: rgb(30, 69, 244);
}

.new-button-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  margin-left: 20px;
}

.button-container-inside {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.button-style-1 {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: #63AAFF;
  border: none;
  cursor: pointer;
}
.button-style-1:hover {
  background-color: #8cbdfa;
}
.button-style-1:focus {
  background-color: #0873f6;
}

.button-style-2 {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #0097D7;
  cursor: pointer;
}
.button-style-2:hover {
  background-color: #8cbdfa;
}
.button-style-2:focus {
  background-color: #0c76f7;
}

.button-style-3 {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button-style-3:hover {
  background-color: transparent;
}
.button-style-3:focus {
  background-color: #c3daf6;
}
.button-style-3:hover {
  text-decoration: underline;
}

.button-style-4 {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: #63AAFF;
  border: none;
  cursor: pointer;
}
.button-style-4:hover {
  background-color: #8cbdfa;
}
.button-style-4:focus {
  background-color: #0871f1;
}

.button-style-5 {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: #63AAFF;
  border: none;
  cursor: pointer;
}
.button-style-5:hover {
  background-color: #8cbdfa;
}
.button-style-5:focus {
  background-color: #0e77f6;
}

.img-style {
  width: 10px;
  height: 10px;
}

.button-style-1-dis {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: #c0c5ca;
  border: none;
  cursor: not-allowed;
}
.button-style-1-dis:hover {
  background-color: #c0c5ca;
}
.button-style-1-dis:focus {
  background-color: #c0c5ca;
}

.button-style-2-dis {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: #c0c5ca;
  border: 1px solid #c0c5ca;
  cursor: not-allowed;
}
.button-style-2-dis:hover {
  background-color: #c0c5ca;
}
.button-style-2-dis:focus {
  background-color: #c0c5ca;
}

.button-style-3-dis {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  cursor: not-allowed;
  text-decoration: underline;
}
.button-style-3-dis:hover {
  background-color: transparent;
}
.button-style-3-dis:focus {
  background-color: #c0c5ca;
}

.button-style-4-dis {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: #c0c5ca;
  border: none;
  cursor: not-allowed;
}
.button-style-4-dis:hover {
  background-color: #c0c5ca;
}
.button-style-4-dis:focus {
  background-color: #c0c5ca;
}

.button-style-5-dis {
  width: 134px;
  height: 48px;
  border-radius: 4px;
  background-color: #c0c5ca;
  border: none;
  cursor: not-allowed;
}
.button-style-5-dis:hover {
  background-color: #c0c5ca;
}
.button-style-5-dis:focus {
  background-color: #c0c5ca;
}

.input-filed-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 100px;
  width: 280px;
  height: 50px;
  gap: 5px;
}

.input-filed-style {
  width: 100%;
  height: 100%;
  border: 1.3px solid #2FA92C;
  border-radius: 4px;
}
.input-filed-style:focus {
  outline: 1.3px solid #2FA92C;
}

.input-text-success {
  font-size: 13px;
  font-weight: 400;
  color: green;
}

.input-filed-style-warning {
  width: 100%;
  height: 100%;
  border: 1.3px solid #FFA41A;
  border-radius: 4px;
}
.input-filed-style-warning:focus {
  outline: 1.3px solid #FFA41A;
}

.input-text-warning {
  font-size: 13px;
  font-weight: 400;
  color: #FFA41A;
}

.input-filed-style-error {
  width: 100%;
  height: 100%;
  border: 1.3px solid #ff1a1a;
  border-radius: 4px;
}
.input-filed-style-error:focus {
  outline: 1.3px solid #ff1a1a;
}

.input-text-error {
  font-size: 13px;
  font-weight: 400;
  color: #ff1a1a;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider-2 {
  position: absolute;
  cursor: not-allowed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider-3 {
  position: absolute;
  cursor: not-allowed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7db8e8;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #fcfbfb;
  transition: 0.3s;
  border-radius: 50%;
}

.slider-2:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #fcfbfb;
  transition: 0.3s;
  border-radius: 50%;
}

.slider-3:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 16px;
  bottom: 4px;
  background-color: #f1eded;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}/*# sourceMappingURL=styleGuide.css.map */